<a href="https://colab.research.google.com/github/bhavana1205/bhavana-saksena/blob/main/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
str=input("Enter a str: ")
s=str.split()
max=0
for i in s:
  if len(i)>max:
    max=len(i)
    word=i
print("{} {}".format(word,max))
#question 1

Enter a str: find me if you can
find 4

In [ ]:
string=input("Enter a string: ")
size=len(string)
if size%2==0:
  half=size//2
  if string[0:half]==string[half:] and string==string[::-1]:
    print("The entered string is symmetrical and palindrome")
  else:
    print("The entered string is symmetrical but not palindrome")
# question 2

Enter a string: khokho
The entered string is symmetrical but not palindrome

In [ ]:
str=input("Enter a hyphen-separated string")
word=str.split('-')
word.sort()
print("Sorted list is: ")
print('-'.join(word))
# question 4

Enter a hyphen-separated stringgreen-red-yellow-black-white
Sorted list is:
black-green-red-white -yellow

In [ ]:
def is_prime(n):
  for i in range(2,n):
    if n%i==0:
      return False
  return True
def generate_twins(start,end):
   for i in range(start,end):
     j=i+2
     if is_prime(i) and is_prime(j):
       print("{:d} and {:d}".format(i,j))
generate_twins(2,20)
# question 5

3 and 5
5 and 7
11 and 13
17 and 19

In [ ]:
def fibonacci_numbers(num):
  if num==0:
    return 0
  elif num==1:
    return 1
  else:
    return fibonacci_numbers(num-2)+fibonacci_numbers(num-1)
n=int(input("Enter the range:"))
for i in range(0,n):
   print(fibonacci_numbers(i),end=" ")
  # question 7

Enter the range:15
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [ ]:
n=int(input("Enter a number"))
even_count=0
odd_count=0
while (n>0):
        rem=n%10  
        if(rem%2==0):
          even_count+=1
        else:
          odd_count+=1
        n=int(n/10)
print("Even count: ", even_count)
print("\nOdd count: ", odd_count)
# question 8

Enter a number547863
Even count:  3

Odd count:  3

In [ ]:
num_sub=int(input("enter number of subjects: "))
subjects=[]
students=[]
marks=[]
for i in range(num_sub):
    subject = input("enter subject {i+1}: ")
    subjects.append(subject)
    student = input("enter student name: ")
    students.append(student)
    mark = float(input(f"enter marks scored by {student} in {subject}: "))
    marks.append(mark)
print("subjects{}\n".format(subjects))
print("students{}\n".format(students))
print("Marks{}\n".format(marks))
final_list = []
for i in range(num_sub):
    final_dictionaries = {}
    final_dictionaries["subject"] = subjects[i]
    final_dictionaries["student"] = students[i]
    final_dictionaries["mark"] = marks[i]
    final_list.append(final_dictionaries)
print(final_list)
#question dif 8

enter number of subjects: 4
enter subject {i+1}: Maths
enter student name: Dhurv
enter marks scored by Dhurv in Maths: 100
enter subject {i+1}: Physics
enter student name: Ganapathi
enter marks scored by Ganapathi  in Physics : 98
enter subject {i+1}: Science
enter student name: Sundari
enter marks scored by Sundari in Science : 99
enter subject {i+1}: English
enter student name: Srikanth
enter marks scored by Srikanth in English: 92
subjects['Maths', 'Physics ', 'Science ', 'English']

students['Dhurv', 'Ganapathi ', 'Sundari', 'Srikanth']

Marks[100.0, 98.0, 99.0, 92.0]

[{'subject': 'Maths', 'student': 'Dhurv', 'mark': 100.0}, {'subject': 'Physics ', 'student': 'Ganapathi ', 'mark': 98.0}, {'subject': 'Science ', 'student': 'Sundari', 'mark': 99.0}, {'subject': 'English', 'student': 'Srikanth', 'mark': 92.0}]

In [ ]:
num=int(input("Enter the number:"))
sum=0
for i in range(1,num):
  if num%i==0:
    sum+=1
if num==sum:
  print("it is a perfect number")
else:
  print("it is not a perfect number")
# question 9

Enter the number:15
it is not a perfect number

In [ ]:
str=input("Enter a string:")
s=str.split()
for i in s:
  if len(i)%2==0:
    word=i
    print("{}".format(word))
# question 10

Enter a string:print even length string words in a  string
even
length
string
in
string

In [ ]:
string=input()
string=string.replace(" ","")
list1=list(string.split(','))
result=",".join(list1)
sum=0
for i in list1:
  sum=sum+float(i)
print("Numbers in this input are:",result)
print("you entered:",result,"sum=",(int(sum)))
# question dif 2

285.6,-36,0.15,154
Numbers in this input are: 285.6,-36,0.15,154
you entered: 285.6,-36,0.15,154 sum= 403

In [ ]:
str=input("enter the string")
doubled_string=''
for char in str:
  doubled_string+=char*2
print(doubled_string)
#question 6

enter the string123a
112233aa

In [ ]:
n = int(input("Please enter a number: "))
product = 1
count = 0
while n > 9:
    while n > 0:
        product *= n % 10
        n = n // 10
    count += 1
    n = product 
    product = 1
print("Multiplicative Digital Root:", n)
print("Multiplicative Persistence:", count)
#question dif 3

Please enter a number: 568
Multiplicative Digital Root: 0
Multiplicative Persistence: 2

In [ ]:
n=int(input("enter the length of side of square : "))
rad=float(input("enter radius of circle : "))
r=round(rad,2)
s=input("enter shape CIR or SQR : ")
dia=(pow(2,1/2)*n)-2*((pow(2,1/2)*r)+r)
if s=="CIR" :
  area=round(3.414*dia,1)
  print(area)
else :
  area=round((dia*dia)/2,1)
  print(area)
#question dif 4

enter the length of side of square : 4
enter radius of circle : 6
enter shape CIR or SQR : Circle
271.8

In [ ]:
while True:
  cards = list(map(int, input("Enter the card numbers: ").split()))
  if len(cards) != 9:
    print("Please enter 9 card numbers")
    continue
  hits = []
  for i in range(len(cards)):
    if cards[i] == (i+1):
      hits.append(cards[i])
  print("Input: {}".format(cards))
  print("Hits: {}".format(hits))
  break
#question dif 5

Enter the card numbers: 5
Please enter 9 card numbers
Enter the card numbers: 7
Please enter 9 card numbers
Enter the card numbers: 9 7 3 1 2 4 5
Please enter 9 card numbers
Enter the card numbers: 9 7 3 1 2 4 5 6 8
Input: [9, 7, 3, 1, 2, 4, 5, 6, 8]
Hits: [3]

In [ ]:
def area(a,b,c,d,e,f) :
  return abs((a*(d-f)+c*(f-b)+e*(b-d))/2.0)
n=int(input("enter n : "))
x1,y1=int(input("enter x1: ")),int(input("enter y1: "))
x2,y2=int(input("enter x2: ")),int(input("enter y2: "))
x3,y3=int(input("enter x3: ")),int(input("enter y3: "))
a=area(x1,y1,x2,y2,x3,y3)
for i in range(n):
  x,y=int(input("\nenter x: ")),int(input("enter y: "))
  a1=area(x,y,x1,y1,x2,y2)
  a2=area(x,y,x2,y2,x3,y3)
  a3=area(x,y,x3,y3,x1,y1)
  if(a==(a1+a2+a3)) :
    print("inside\n")
  else :
    print("outside\n")
#question dif 6

enter n : 2
enter x1: 0
enter y1: 0
enter x2: 0
enter y2: 5
enter x3: 5
enter y3: 0

enter x: 1
enter y: 1
inside


enter x: 6
enter y: 8
outside

In [ ]:
nums = [2, 6, 8, 9, 8, 11, 256, 8]
val = 8
for i in range(len(nums)):
    if nums[i] == val:
        nums[i] = '+'
print(len(nums))
print(nums)
#question dif 10

8
[2, 6, '+', 9, '+', 11, 256, '+']

In [ ]:
def plus_one(digits, n):
    digits.reverse()
    carry = 0
    
    for i in range(n):
        if(i == 0):
            digits[i] += (1 + carry)
        elif(carry != 0):
            digits[i] += carry
        carry = digits[i]//10
        if(carry != 0):
            digits[i] = digits[i] % 10
    if(carry != 0):
        digits.append(carry)
    digits.reverse()
digits = [1,3,6]
n = len(digits)
plus_one(digits, n)

for i in digits:
    print(i, end =" ")
#question dif 11

1 3 7

In [ ]:
from math import factorial
a=int(input())
for i in range(a):
  for j in range(a-i-1):
    print(end=' ')
  for k in range(0,i+1):
    print(factorial(i)//(factorial(k)*factorial(i-k)),end=' ')
  print()
#question dif 1

5
    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1